* {
  box-sizing: border-box;
}

.App {
  background-color: white;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.App-header {
  background-color: black;
  color: white;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.stationsList {
  display: flex;
  flex-wrap: wrap;
}
.station {
  flex-basis: 100%;
  border: 2px solid black;
}

.caption {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  border: 2px solid black;
}

.searchbar {
  flex-basis: 100%;
  padding: 1rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar form label {
  padding-right: 2px;
}

.info {
  flex-basis: 100%;
  padding: 0.5rem;
}
.info .avg {
  font-weight: 500;
}

.info select {
  margin-left: 5px;
}

.above {
  color: red;
}
.below {
  color: blue;
}
.legendItem {
  display: inline-block;
  padding: 0 15px;
}
.legendSquare {
  position: relative;
  top: 1px;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  display: inline-block;
}
.legendSquare.above {
  background-color: red;
  border: 0.5px solid black;
}
.legendSquare.below {
  background-color: blue;
  border: 0.5px solid black;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  height: 16em;
  width: 18em;
}

.modal .detailKey {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .info {
    border-left: 1px solid black;
  }
  .station {
    flex-basis: 50%;
  }
  .searchbar {
    flex-basis: 50%;
    border-bottom: none;
    border-right: 1px solid black;
  }
  .info {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 992px) {
  .App {
    max-width: 960px;
  }
  .station {
    flex-basis: calc(100% / 3);
  }
  .searchbar {
    flex-basis: calc(100% / 3);
  }
  .info {
    flex-basis: calc(100% / 3 * 2);
  }
}
@media screen and (min-width: 1200px) {
  .App {
    max-width: 1140px;
  }
  .station {
    flex-basis: 25%;
  }
  .searchbar {
    flex-basis: 25%;
  }
  .info {
    flex-basis: 75%;
  }
}
